In [156]:
#dependencies
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize

In [157]:
arr_url="http://lapi.transitchicago.com/api/1.0/ttarrivals.aspx"
fol_url = "httP://lapi.transitchicago.com/api/1.0/ttfollow.aspx"
loc_url = "http://lapi.transitchicago.com/api/1.0/ttpositions.aspx"
key = 'your key'

# Location API

In [158]:
rt='blue'
url = f'{loc_url}?key={key}&rt={rt}&outputType=JSON'

In [159]:
response = requests.get(url).json()

In [160]:
#print(json.dumps(response, indent =4 , sort_keys=True))

In [161]:
# response.keys()

In [162]:
# json_normalize(response)

In [163]:
#json_normalize(response['ctatt'])

In [164]:
xx=json_normalize(response['ctatt']['route'],record_path=['train'])

In [165]:
xx

,rn,destSt,destNm,trDr,nextStaId,nextStpId,nextStaNm,prdt,arrT,isApp,isDly,flags,lat,lon,heading
0,133,30171,O'Hare,1,40670,30129,Western (O'Hare Branch),2019-11-13T20:29:51,2019-11-13T20:30:51,1,0,None,41.91093,-87.6793,303
1,139,30077,Forest Park,5,40390,30077,Forest Park,2019-11-13T20:25:51,2019-11-13T20:26:51,1,1,None,41.87349,-87.80696,275
2,143,30077,Forest Park,5,40350,30069,UIC-Halsted,2019-11-13T20:29:41,2019-11-13T20:30:41,1,0,None,41.87552,-87.64389,270
3,144,30077,Forest Park,5,40180,30035,Oak Park,2019-11-13T20:29:37,2019-11-13T20:31:37,0,0,None,41.87089,-87.77681,273
4,145,30077,Forest Park,5,40670,30130,Western (O'Hare Branch),2019-11-13T20:29:53,2019-11-13T20:30:53,1,0,None,41.91973,-87.69322,121
5,146,30077,Forest Park,5,41280,30248,Jefferson Park,2019-11-13T20:29:54,2019-11-13T20:30:54,1,0,None,41.97063,-87.76089,113
6,214,30077,Forest Park,5,41410,30272,Chicago,2019-11-13T20:29:45,2019-11-13T20:30:45,1,0,None,41.89932,-87.66022,122
7,215,30077,Forest Park,5,40250,30049,Kedzie-Homan,2019-11-13T20:29:57,2019-11-13T20:30:57,1,0,None,41.87539,-87.69789,267
8,216,30171,O'Hare,1,40890,30171,O'Hare,2019-11-13T20:29:54,2019-11-13T20:31:54,0,0,None,41.9833,-87.86615,268
9,217,30171,O'Hare,1,40810,30157,Illinois Medical District,2019-11-13T20:29:57,2019-11-13T20:30:57,1,0,None,41.87559,-87.67854,89
10,223,30171,O'Hare,1,40060,30012,Belmont,2019-11-13T20:29:55,2019-11-13T20:30:55,1,0,None,41.93398,-87.71223,358
11,225,30171,O'Hare,1,40370,30072,Washington,2019-11-13T20:29:59,2019-11-13T20:30:59,1,0,None,41.88152,-87.6294,358
12,227,30171,O'Hare,1,40970,30187,Cicero,2019-11-13T20:29:41,2019-11-13T20:32:41,0,0,None,41.87079,-87.77521,93

# Follow Train API

In [166]:
url = f'{fol_url}?key={key}&runnumber={xx.rn[0]}&outputType=JSON'
url

'httP://lapi.transitchicago.com/api/1.0/ttfollow.aspx?key=91ba8a537a8d440582dcc8e55fd5f657&runnumber=133&outputType=JSON'

In [167]:
response = requests.get(url).json()

In [168]:
train_num = xx.rn[0]
train_num

'133'

In [169]:
# the lat and lon position will show the position of the train moving i think based on cta Sensors on the track and stations clocking.
# give lat long and heading
train_loc=json_normalize(response['ctatt']['position'])
train_loc

        lat        lon heading
0  41.91257  -87.68183     302

In [170]:
#train metrics. where we can see isapp and issch vs isdly
train_sched=json_normalize(response['ctatt'],record_path=['eta'])
train_sched

,staId,stpId,staNm,stpDe,rn,rt,destSt,destNm,trDr,prdt,arrT,isApp,isSch,isDly,isFlt,flags
0,40670,30129,Western (O'Hare Branch),Service toward O'Hare,133,Blue Line,30171,O'Hare,1,2019-11-13T20:30:15,2019-11-13T20:31:15,1,0,0,0,None
1,40570,30111,California,Service toward O'Hare,133,Blue Line,30171,O'Hare,1,2019-11-13T20:30:15,2019-11-13T20:32:15,0,0,0,0,None
2,41020,30197,Logan Square,Service toward O'Hare,133,Blue Line,30171,O'Hare,1,2019-11-13T20:30:15,2019-11-13T20:34:15,0,0,0,0,None
3,40060,30012,Belmont,Service toward O'Hare,133,Blue Line,30171,O'Hare,1,2019-11-13T20:30:15,2019-11-13T20:37:15,0,0,0,0,None
4,41240,30239,Addison,Service toward O'Hare,133,Blue Line,30171,O'Hare,1,2019-11-13T20:30:15,2019-11-13T20:39:15,0,0,0,0,None
5,40550,30107,Irving Park,Service toward O'Hare,133,Blue Line,30171,O'Hare,1,2019-11-13T20:30:15,2019-11-13T20:40:15,0,0,0,0,None
6,41330,30259,Montrose,Service toward O'Hare,133,Blue Line,30171,O'Hare,1,2019-11-13T20:30:15,2019-11-13T20:42:15,0,0,0,0,None
7,41280,30247,Jefferson Park,Service toward O'Hare,133,Blue Line,30171,O'Hare,1,2019-11-13T20:30:15,2019-11-13T20:44:15,0,0,0,0,None
8,40750,30145,Harlem (O'Hare Branch),Service toward O'Hare,133,Blue Line,30171,O'Hare,1,2019-11-13T20:30:15,2019-11-13T20:48:15,0,0,0,0,None

# Arrivals API

In [174]:
url = f'{arr_url}?key={key}&mapid={train_sched.staId[0]}&outputType=JSON'
url

'http://lapi.transitchicago.com/api/1.0/ttarrivals.aspx?key=91ba8a537a8d440582dcc8e55fd5f657&mapid=40670&outputType=JSON'

In [175]:
response = requests.get(url).json()

In [176]:
stationID = train_sched.staId[0]
stationID

'40670'

In [179]:
#another way to look at stops. and seeing whats coming in and out of a station. 
StationArrivals = json_normalize(response['ctatt'],record_path=['eta'])
StationArrivals

,staId,stpId,staNm,stpDe,rn,rt,destSt,destNm,trDr,prdt,arrT,isApp,isSch,isDly,isFlt,flags,lat,lon,heading
0,40670,30129,Western (O'Hare Branch),Service toward O'Hare,225,Blue,30171,O'Hare,1,2019-11-13T20:31:35,2019-11-13T20:41:35,0,0,0,0,None,41.88574,-87.63089,269
1,40670,30130,Western (O'Hare Branch),Service toward Forest Park,146,Blue,30077,Forest Park,5,2019-11-13T20:31:30,2019-11-13T20:46:30,0,0,0,0,None,41.96979,-87.75917,120
2,40670,30129,Western (O'Hare Branch),Service toward O'Hare,228,Blue,0,O'Hare,1,2019-11-13T20:31:41,2019-11-13T20:54:41,0,1,0,0,None,None,None,None
3,40670,30130,Western (O'Hare Branch),Service toward Forest Park,135,Blue,0,Forest Park,5,2019-11-13T20:31:41,2019-11-13T20:59:41,0,1,0,0,None,None,None,None